body {
    background: image-url('/bg-exchange.jpg') no-repeat center center fixed!important;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.title-box {
    margin-top: 20%;
    .title {
        color: white;
        text-shadow: 4px 2px 10px #000000;
    }
}

.exchange-box {
    margin: 10px auto;
    .logo-box {
        margin: 0 auto;
        padding-bottom: 10px;
    }
    .logo-img {
        padding: 10px;
        /*
        box-shadow: 2px 0px 10px rgba(0, 0, 0, 0.5);
        border-radius: 400px;
        */
    }
}